@charset "utf-8";
/* CSS Document */
		body {
			background-color:red;
		}
		td {
			text-align:left;
			background-color:white;
			font-size:28px;
			font-weight:bold;
			text-height:max-size;
			padding:14px;
		}
		.b {
			color:blue;
		}
		.r {
			color:red;
		}
		.g {
			color:#C06
		}
		h1 {
			background-color:red;
			color:white;
			text-align:center;
			text-height:max-size;
			font-size:44px;
		}

